<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <define name="ip" class="com.stonenotes.lombok.slf4j.GetLocalIpProperty"/>

    <!--<define name="ip" value="1231233"></define>-->
    <property name="LOG_HOME" value="G:/study" />
    <property name="FILE_NAME" value="lombok"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<JsonLayout/>-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${ip} - %X{remoteId} - %X{sessionId} - %X{userId} - %X{appName} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${FILE_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${FILE_NAME}.%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
            <totalSizeCap>1GB</totalSizeCap>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--&lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
        <!--</encoder>-->
        <!-- json 格式输出 -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!--<timestamp>-->
                    <!--<timeZone>UTC</timeZone>-->
                <!--</timestamp>-->
                <pattern>
                    <pattern>
                        {
                        "createTime": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "ip": "${ip}",
                        "remoteIp": "%X{remoteIp}",
                        "app": "%X{appName}",
                        "sessionId": "%X{sessionId}",
                        "userId":"%X{userId}",
                        "level": "%level",
                        <!--"trace": "%X{X-B3-TraceId:-}",-->
                        <!--"span": "%X{X-B3-SpanId:-}",-->
                        <!--"parent": "%X{X-B3-ParentSpanId:-}",-->
                        "thread": "%thread",
                        "className": "%logger{40}",
                        "message": "%message",
                        "stackTrace": "%exception{10}"
                        }
                        <!--{-->
                        <!--"level": "%level",-->
                        <!--"trace": "%X{X-B3-TraceId:-}",-->
                        <!--"requestId": "%X{requestId}",-->
                        <!--"remoteIp": "%X{remoteIp}",-->
                        <!--"span": "%X{X-B3-SpanId:-}",-->
                        <!--"parent":-->
                        <!--"%X{X-B3-ParentSpanId:-}",-->
                        <!--"thread": "%thread",-->
                        <!--"class":-->
                        <!--"%logger{40}",-->
                        <!--"message": "%message",-->
                        <!--"stack_trace":-->
                        <!--"%exception{10}"-->
                        <!--}-->
                    </pattern>
                </pattern>
            </providers>
        </encoder>

        <!--日志文件最大的大小-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<MaxFileSize>10MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>